.sidebar-frame {
    display: flex;
    height: 100vh;
    position: relative;
    border: 1px solid #b7b7b7;
  }
  
  /* sbb-icon-sidebar-content {
    padding-bottom: -100px;
  } */

  #slider-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  #opacity-slider {
    width: 200px;
  }
  